<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Docbooker</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css" type="text/css" media="all" />
        <style type="text/css" media="all">
            .panel {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .center {

            }
        </style>
    </head>
    <body>
        <div class="container jumbotron">
            <div class="center">
                <h2>Docbooker</h2>
                <p>Upload your xml files</p>
            </div>

            <div class="center container" id="app">
            </div>

            {% if fileurl %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <span> Your document: <a href="{{fileurl}}" download>{{fileurl}}</a> </span>
                    <a href="{{fileurl}}" >preview</a>
                </div>
            </div>
            {% endif %}
            {% if error %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span>{{error.title}}</span>
                </div>
                {% if error.body %}
                <div class="panel-body">
                    {% autoescape false %}
                    <span>{{error.body| replace('\n', '<br/>')}}</span>
                    {% endautoescape %}
                </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <script src="{{static_url}}/index.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
